:root {
	/*Light and dark theme styles*/	
	/*Light theme*/
	--bg-light:#eeeeee;
	--fbn-color-light:black;
	--icons-invert-light:invert(0%);
	--menu-color-light:#DCDCDC;
	--main-text-color-light:#313131;
	--bg-color-light:rgba(0,0,0,0.5);
	
	
	/*Dark theme*/
	--bg-dark:#212121;
	--fbn-color-dark:white;
	--icons-invert-dark:invert(100%);
	--menu-color-dark:#414141;
	--main-text-color-dark:#C0C0C0;
	--bg-color-dark:rgba(0,0,0,0.7);	
}
:root {
	--bg:var(--bg-light);
	--fbn-color:var(--fbn-color-light);
	--icons-invert:var(--icons-ivert-light);
	--menu-color:var(--menu-color-light);
	--main-text-color:var(--main-text-color-light);
	--bg-color:var(--bg-color-light);
}
body {
	background-color:var(--bg);
}

/*Top section styles*/

#top-section {
	width:100%;
	padding:10px;
}


#top-section #fbn-text {
	color:var(--fbn-color);
	font-weight:700;
	font-size:45px;
	width:100%;
	height:180px;
	display:flex;
	align-items:center;
	justify-content:center;
	letter-spacing:3px;
}


#menu-bar-cont #setting-holder {
	position:absolute;
	top:10px;
	right:10px;
	width:45px;
	height:45px;
	border-radius:6px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#menu-bar-cont #setting-holder img {
	width:60%;
	filter:var(--icons-invert);
}

#menu-bar-main {
	height:45px;
	background-color:var(--menu-color);
	border-radius:6px;
	box-shadow:var(--shadow);
	position:absolute;
	top:10px;
	right:60px;
	visibility:hidden;
	opacity:0;
	transform:translateY(-100px);
	transform-origin:right;
	transition:transform 0.2s 0s , opacity 0.2s 0s;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:0px 6px;
}
#menu-bar-main a {
	transition:transform 0.2s 0s , opacity 0.2s 0s;
	overflow:hidden;
	cursor:none;
}
#menu-bar-main a:active {
	transform:scale(0.6);
}
#menu-bar-main a img{
	height:25px;
	filter:var(--icons-invert);
	margin:0px 6px;
	overflow:hidden;
}
/*Bottom section styles*/
#projects_title {
	width:85%;
	margin:auto;
	margin-bottom:20px;
	font-weight:700;
	font-size:17px;
	opacity:0.8;
	color:var(--fbn-color);
}
.projects {
	width:85%;
	margin:8px calc(15% / 2);
	border-radius:6px;
	background-color:var(--menu-color);
	padding:20px;
	color:var(--main-text-color);
	position:relative;
	overflow:hidden;
	display:inline-block;
	cursor:none;
	text-decoration:none;
}
.projects name {
	font-weight:600;
	display:block;
	text-transform:capitalize;
	margin-bottom:6px;
}
.projects des {
	font-size:13px;
}
.projects:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:var(--bg-color);/*rgba(0,0,0,0.5);*/
	opacity:0;
	transition:opacity 0.2s;
}
.projects:after {
	position:absolute;
	content:'Click To Open!';
	width:100%;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	top:calc(50% - 20px);
	left:0;
	transform:translateY(-200px);
	transition:transform 0.2s;
}

.projects:hover::before {
	opacity:1;
}
.projects:hover::after {
	transform:translateY(0px);
}
#footer{
	padding: 8% 6% 2%;
	text-align: center;
  }
  .fot-a{
	margin: 1% ;
	padding-bottom: 1%;
	color: black;
	width: 1%;
  }
  .fot-p{
	margin-top: 1%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
  }
  /* contact us */
  .cont-hed{
  color:var(--fbn-color);
	font-weight:700;
	font-size:45px;
	width:100%;
	height:180px;
	display:flex;
	align-items:center;
	justify-content:center;
	letter-spacing:2px;
}
.center-box-1{
	align-items: center;
	display:flex;
	align-items:center;
	justify-content:center;
}