* {
	box-sizing:border-box;
}
body {
	height: 100vh;
	margin: 0px;
}
#canvas {
	background-color:#111111;
}
.ctrl_panel {
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(100,100,100,0.6);
	border-top:1px solid white;
}
.ctrl_toggle {
	position:absolute;
	top:-25px;
	background-color:rgba(100,100,100,0.6);
	width:30px;
	left:calc(50% - 15px);
	height:25px;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:6px 6px 0px 0px;
	font-weight:800;	
}
#ctrl_main {
	color:white;
	padding:4px 5px;
}
input[type=range] {
	width:calc(100% - 5px);
}
#canvas-3d {
	position:fixed;
	bottom:0;
	left:0;
	background-color:rgba(255,0,0,0.3);
}
.log {
	position:fixed;
	top:0;
	color:white;
	left:0;
}
#debugCtrl {
	width:10%;
	margin:0px 8px;
}