.historyWindow {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:white;
	visibility:hidden;
	opacity:0;
	z-index:1000;
	transform:translateY(100%);
	transition:opacity 0.3s , transform 0.3s;
	transition-timing-function:ease-in-out;
}
.historyWindow .upper-cont {
	position:fixed;
	top:0;
	width:100%;
	height:calc(100% - 80px);
	padding:25px 15px 15px 20px;
	overflow:hidden;
}
.historyWindow .upper-cont header {
	display:block;
	font-weight:700;
	font-size:23px;
}
.historyWindow .lower-cont {
	position:fixed;
	height:80px;
	width:100%;
	bottom:0;
	left:0;
	display:flex;
	align-items:center;
	box-shadow:0px -0.01px 3px rgba(22,22,22,0.3);
}
.historyWindow .lower-cont button {
	position:absolute;
	color:white;
	border:none;
	padding:10px;
	border-radius:4px;
	width:90px;
	font-weight:800;
	background-color:#455A64;
	left:calc(50% - 45px);
}
.historyWindow .list-cont-title {
	font-weight:800;
	display:block;
	margin:15px 10px;
	margin-top:30px;
	font-size:17px;
	display:flex;
	align-items:center;
	position:relative;
}
.historyWindow .list-cont-title img {
	height:25px;
	position:absolute;
	right:10px;	
	transition:transform 0.2s;
}
.historyWindow .list-cont-title img:active {
	transform:scale(0.8);
}
.historyWindow .list-sub-cont {
	width:calc(100% - 16px);
	height:80%;
	overflow:scroll;
	padding:8px;
	padding-bottom:0px;
	position:relative;
}
.historyWindow .list-sub-cont[hasElm=true]:after {
	content:"You haven't done any calculations";
	position:absolute;
	top:20px;
	width:100%;
	font-weight:800;
	text-align:center;
	opacity:0.5;
	left:0px;
	-ms-overflow-style:none;
	scrollbar-width:none;
}
.historyWindow .list-sub-cont::-webkit-scrollbar {
	display:none;
}
.historyWindow .list-sub-cont .list-item-cont {
	width:100%;
	border-radius:4px;
	height:80px;
	background-color:#ECEFF1;
	position:relative;
	overflow:hidden;
	margin:18px 0px;
	transition:transform 0.2s , height 0.2s 0.2s , opacity 0.3s;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont {
	position:absolute;
	width:100%;
	height:70%;
	top:0;
	left:0;
	background-color:#B0BEC5;
	box-shadow:0px 0.1px 3px rgba(55,71,79,0.4);
	position:relative;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-img-cont {
	position:absolute;
	width:60px;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-img-cont:before {
	content:'';	
	position:absolute;
	width:75%;
	height:80%;
	border-radius:50%;
	background-color:rgba(31,31,31,0.08);
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-img-cont img {
	width:50%;
	opacity:0.6;
}
.historyWindow .list-sub-cont .list-item-cont .lower-item-cont {
	position:absolute;
	width:100%;
	height:30%;
	bottom:0;
	left:0;
	display:flex;
	align-items:center;
	flex-direction:row-reverse;
	padding:0px 10px;
}
.historyWindow .list-sub-cont .list-item-cont .lower-item-cont img {
	height:60%;
	opacity:0.7;
	margin:0px 5px;
	float:right;
	transition:transform 0.08s;
}
.historyWindow .list-sub-cont .list-item-cont .lower-item-cont img:active {
	transform:scale(0.8);
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-text-cont {
	position:absolute;
	width:calc(100% - 120px);
	left:60px;
	height:100%;
	padding:8px;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-text-cont name {
	display:block;
	font-weight:800;
	height:18px;
	font-size:15px;
	position:absolute;
	top:calc(50% - (18px/2) - 6px);
	white-space: nowrap; 
	width:140px; 
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform:capitalize;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-text-cont date {
	display:block;
	font-weight:800;
	height:11px;
	font-size:10px;
	position:absolute;
	top:calc(50% + 5px);
	opacity:0.4;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-load-img-cont {
	position:absolute;
	right:0;
	width:60px;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	transition:transform 0.1s;
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-load-img-cont:active {
	transform:scale(0.8);
}
.historyWindow .list-sub-cont .list-item-cont .upper-item-cont .main-load-img-cont img {
	width:50%;
	opacity:0.6;
}
.historyWindow .matrix-display-cont {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:opacity 0.3s;
	visibility:hidden;
	opacity:0;
}
.historyWindow .matrix-display-cont .matrix-display-bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	transition:opacity 0.3s;
}
.historyWindow .matrix-display-cont .matrix-display-main {
	position:fixed;
	height:50%;
	width:85%;
	top:calc(50% - 25%);
	left:calc(50% - (85%/2));
	padding:20px;
	background-color:rgba(176,190,197,0.9);
	border-radius:5px;
	box-shadow:var(--shadow);
	overflow:hidden;
}
.historyWindow .matrix-display-cont .matrix-display-main .matrix-display-close-btn {
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:50px;
	font-size:30px;
	font-weight:800;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:10;
}
.historyWindow .matrix-display-cont .matrix-display-main .matrix-display {
	width:100%;
	height:100%;
	overflow:scroll;
	padding:20px;
	display:flex;
	align-items:center;
}
.historyWindow .matrix-display-cont .matrix-display-main .matrix-display table {
	margin:auto auto;
}
.historyWindow .matrix-display-cont .matrix-display-main .matrix-display-name {
	position:absolute;
	z-index:10;
	left:0;
	top:0;
	padding:16px;
	font-weight:800;
	font-size:16px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgba(176,190,197,0.5);
	border-bottom-right-radius:5px;
}