*{
  	box-sizing:border-box;
  	font-family:monospace;
/*	outline:1px solid red;*/
}
:root {
	--table-overflow-shadow:1px 0px 3px rgba(0,0,0,0.5) inset ,
	0px 1px 3px rgba(0,0,0,0.5) inset ,
	-1px 0px 3px rgba(0,0,0,0.5) inset,
	0px -1px 3px rgba(0,0,0,0.5) inset;
}
*:focus {
  	outline:none;
}
body {
	margin:0px;
	overflow:scroll;
	height:100vh;
	width:100vw;
	overflow:scroll;
}
matrix-creator {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:block;
	background-color:white;
	visibility:hidden;
	opacity:0;
	z-index:999;
	transform:translateY(100%);
	transition:opacity 0.3s , transform 0.3s;
	transition-timing-function:ease-in-out;
}
matrix-creator window {
	position:fixed;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background-color:white;
	transition:opacity 0.3s , transform 0.3s;
}
window window-a-header , window window-b-header {
	font-weight:800;
	font-size:25px;
	display:block;
	padding:40px 0px 10px 30px;
}
window window-b-header {
	font-size:18px;
	padding:40px 0px 10px 30px;
}
window content {
	width:100%;
}
window input-elm {
	display:block;
	padding:0px 0px 0px 10px;
	margin:25px 0px;
	text-align:center;
	width:60%;
}
window input-elm label {
	font-weight:800;
}
window input-elm input {
	border-radius:3px;
	border:1px solid #303A52;
	width:80px;
}
window input-elm input[type=number] {
	padding:8px 5px;
}
window input-elm input[type=checkbox] {
	padding:0px;
	margin:0px;
	width:auto;
	position:relative;
	top:3px;
}
window buttons {
	width:100%;
	position:absolute;
	bottom:15px;
	height:40px;
}
window buttons button {
	padding:10px 0px;
	border-radius:4px;
	font-weight:800;
	border:none;
	opacity:0.9;
	position:fixed;
	width:100px;
}
window buttons .alert {
	color:white;
	background-color:#E53935;
	left:40px;
}
window buttons .promt {
	color:white;
	background-color:#0084FF;
	right:40px;
}
window content table-cont {
	width:auto;
	height:auto;
	display:block;
	position:relative;
	overflow:scroll;
	margin:0px 8px;
	box-shadow:var(--table-overflow-shadow);
	/*1px 0px 3px rgba(0,0,0,0.5) inset ,
	0px 1px 3px rgba(0,0,0,0.5) inset ,
	-1px 0px 3px rgba(0,0,0,0.5) inset,
	0px -1px 3px rgba(0,0,0,0.5) inset;*/
	border-radius:3px;
}
window content table-cont table {
	width:auto;
	position:absolute;
	padding:0px;
	border-radius:3px;
	border:2px solid #37474F;
}
window content table-cont table tr {
	margin:0px;
}
window content table-cont table td {
	margin:0px;
	width:45px;
	height:45px;
	min-height:45px;
	min-width:45px;
	max-width:45px;
	max-height:45px;
	border:2px solid #37474F;
	text-align:center;
	font-weight:800;
	position:relative;
	transition:border-color 0.3s , background-color 0.3s;
}
window content table-cont table td label {
	position:absolute;
	bottom:0;
	right:0;
	height:10px;
	font-size:8px;
	line-height:10px;
	opacity:0.5;
	padding:0px 4px;
	user-select:none;
	font-weight:800;
}
window content table-cont table td input {
	width:40px;
	height:20px;
	position:absolute;
	top:calc(50% - 10px);
	left:calc(50% - 20px);
	background-color:transparent;
	border:none;
	text-align:center;
}
window content table-cont table td input::placeholder {
	transition:transform 0.2s;
}
window content table-cont table td input:focus::placeholder {
	transform:translateY(5px);
}
window content ctrl input-elm {
	width:100%;
	padding:0px 30px;
	margin-top:30px;
}
window content ctrl input-elm button {
	padding:8px 15px;
	font-weight:800;
	border:none;
	border-radius:3px;
	font-size:11px;
	text-transform:capitalize;
	margin:5px auto;
	margin-left:5px;
	margin-right:5px;
	background-color:#455A64;
	color:white;
/*	width:140px;*/
}
window[id=creator] content {
	display:block;
	width:100%;
/*	height:70%;*/
	overflow:scroll;
	position:relative;
	padding-bottom:10px;
}
window content ctrl load-btn {
	margin:10px auto;
	margin-bottom:0px;
	display:block;
	width:calc(100% - 100px);
	padding:10px 20px;
	background-color:#455A64;
	color:white;
	border-radius:3px;
	font-weight:800;
	position:relative;
	transition:border-radius 0.2s;
}
window content ctrl load-btn ic {
	right:15px;
	font-weight:800;	
	position:absolute;
	top:0;
	bottom:0;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	opacity:0;
	transition:opacity 0.2s , transform 0.5s;
/*	transform:rotate(30deg);*/
	transform-origin:center;
}
window content ctrl load-btn ic[type=close] {
	transform:scale(0) translateY(50px);
}
window content ctrl load-btn ic[type=open] {
	transform:scale(0) translateY(-50px);
}
window content ctrl load-btn[closed=yes] ic[type=close] {
	opacity:1;
	transform:scale(1) translateY(0px);
}
window content ctrl load-btn[closed=yes] ic[type=open] {
	opacity:0;
	transform:scale(0) translateY(-50px);
}

window content ctrl load-btn[closed=no] ic[type=open] {
	opacity:1;
	transform:scale(1) translateY(0px);
}
window content ctrl load-btn[closed=no] ic[type=close] {
	opacity:0;
	transform:scale(0) translateY(50px);
}
window content ctrl load-btn[closed=no] {
	border-radius:3px 3px 0px 0px;
}
window content ctrl load-panel {
	display:block;
	padding:0px 18px;
	background-color:#CFD8DC;
	overflow:hidden;
	transition:max-height 0.2s ease-out;
	max-height:0;
	width:calc(100% - 100px);
	margin:0px auto;
	border-radius:0px 0px 3px 3px;
}
window content ctrl load-panel cont {
	padding:10px 0px;
	display:block;
	font-size:11px;
	font-weight:800;
}
window content ctrl load-panel cont button {
	border:none;
	display:block;
	margin:8px 0px;
	border-radius:3px;
	padding:6px 10px;
	font-weight:800;
}
#creator {
	visibility:hidden;
	opacity:0;
	transform:translateX(100%);
}
window .order-input-btns button {
	border-radius:4px;
	border:none;
	background-color:#455A64;
	color:white;
	padding:8px 15px;
	font-weight:800;
	max-width:100px;
	min-width:100px;
	width:100px;
	transition:transform 0.1s;
	opacity:0.9;
	box-shadow:0.1px 0.1px 1px rgba(0,0,0,0.3);
}
window .order-input-btns button:active {
	transform:scale(1.05);
}