* {
/*
	outline:1px solid red;
*/
}
.main_frame {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}
.main_frame .header {
	position:fixed;
	top:0;
	width:100%;
	height:60px;
	left:0;
	background-color:#263238;
	box-shadow:var(--shadow);
	z-index:500;
}
.menu_bar {
	position:absolute;
	left:0;
	height:100%;
}
.menu_bar .menu_icon {
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:30px;
	padding:0px 15px;
	transition:opacity 0.2s , transform 0.2s;
	user-select:none;
	z-index:1001;
	position:relative;
}
.side_menu {
	position:fixed;
	
	top:0;
	left:0;
	height:100%;
	background-color:#212121;
	width:70%;
	z-index:1000;
	box-shadow:var(--shadow);
	opacity:0;
	visibility:hidden;
	transform:translateX(-70%);
	transition:transform 0.2s , opacity 0.2s;
}
.side_menu_bg {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:999;
	visibility:hidden;
	opacity:0;
	transition:opacity 0.2s;
}
.header .title {
	height:100%;
	position:absolute;
	left:70px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:20px;
	font-weight:800;
}
.side_menu_cont {
	position:absolute;
	top:60px;
	background-color:#252525;
	width:100%;
	height:calc(100% - 60px);
	color:white;
	overflow:scroll;
}
.side_menu_elm {
	text-decoration:none;
	color:white;
	cursor:none;
	margin:2px 0px;
	width:100%;
	padding:15px 20px;
	background-color:#252525;
	display:inline-block;
	font-weight:800;
	font-size:14px;
	transition:transform 0.1s;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.side_menu_elm:first-child {
	margin:0px 0px 2px 0px;
}
.side_menu_elm:active {
	transform:translateX(30px);
}
.side_menu_elm:nth-child(even){
	background-color:#252525;
}
.side_menu_elm:nth-child(odd){
	background-color:#282828;
}
.side_menu_elm[isCurr = true] {
	background-color:#37474F
}
.other_frame {
	width:100%;
	position:fixed;
	top:60px;
	left:0;
	height:calc(100% - 60px);
	z-index:100;
	overflow:scroll;
	background-color:#eeeeee;
	padding:10px 0px 0px 0px;
	font-weight:800;
}
.h {
	position:relative;
	width:auto;
}
.operations_list {
	width:100%;
	padding:6px 10px;
}
.operations_list .list_indv {
	width:100%;
	background-color:#CFD8DC;
	border-radius:6px;
	padding:6px;
	color:black;
	margin:12px 0px;
	cursor:none;
	text-decoration:none;
	transition:transform 0.2s;
	position:relative;
	height:65px;
	display:flex;
	align-items:center;
	border-left:5px solid #37474F;
	overflow:hidden;
}
.operations_list .list_indv name {	
	position:absolute;
	left:15px;
	font-size:16px;
	font-weight:800;
	opacity:0.8;
	transition:transform 0.2s;
}
.operations_list .list_indv img {
	height:50%;
	position:absolute;
	right:15px;
	transition:transform 0.2s , opacity 0.2s;
}
.operations_list .list_indv:hover {
	transform:scale(0.95);
}
.operations_list .list_indv:hover name {
	transform:translateX(50px);
}
.operations_list .list_indv:hover img {
	transform:translateX(50px);
	opacity:0;
}
.footer {
	width:100%;
	background-color:#263238;
	margin-top:10px;
	padding:20px;
	box-shadow:var(--shadow);
}
.main_content {
	width:100%;
	display:block;
	padding:10px 20px;
	padding-top:0px;
	height:auto;
}
.footer img {
	height:60%;
	margin:5px;
	filter:invert(100%);
}
.footer a {
	cursor:none;
}
.footer_tt {
	width:100%;
	text-align:center;
	font-size:16px;
	color:white;
	margin-bottom:15px;
}
.made_by {
	width:100%;
	text-align:center;
	font-size:10px;
	opacity:0.6;
	color:white;
	margin:10px 0px;
}
.icons_bar {
	width:100%;
	text-align:center;
	height:40px;
}
.icons_bar img {
	height:60%;
	margin:0px 4px;
}


/*Matrix creator styles*/
.matrix_creator {
	position:fixed;
	z-index:9999;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:white;
}
.matrix_creator .creator_section {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.creator_section .text_input {
	text-align:center;
	width:100%;
} 
.creator_section .text_input indv {
	display:block;
}