:root {
	--shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.flex {
	display:flex;
	justify-content:center;
	align-items:center;
}
*{
  	box-sizing:border-box;
  	font-family:monospace;
}
*:focus {
  	outline:none;	
}
body {
	margin:0px;
	height:100vh;
}